html
	head
		title title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='./stylesheets/style.css')
		script(src="https://kit.fontawesome.com/3ef48c52a2.js")
	body
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
		script !{spToUndscre}
		script !{UndscreToSp}
		script.
			var dataObj = !{JSON.stringify(data)};
			var curData = Object.assign({}, dataObj);

			var bCycleClick = function(id) {
				let bArr = [];
				for(let p=0;p<curData.b_cycle_arr.length;p++)
					bArr.push(curData.b_cycle_arr[p].bc);
				for(let i=0;i<bArr.length;i++){
					let clList = document.getElementById(bArr[i]).classList;
					if(clList.contains('ct-selected')) clList.remove('ct-selected');           
				}
				let clList = document.getElementById(id).classList;
				clList.add('ct-selected');
				curData.b_cycle = id;
				grandTotal();
			}

			var onCancel = function() {
				console.log('onCancel')
			}

			var onAddToCart = function() {
				console.log('onAddToCart')
			}

			var onDecrement = function(id) {
				let inpEl = document.getElementById(id+'-inp');
				let cVal = parseInt(inpEl.value);
				if(cVal>curData.addons[id].min_qty) cVal = cVal-1;
				inpEl.value= cVal;
				eachTotal(id, cVal);
			}

			var onIncrement = function(id) {
				let inpEl = document.getElementById(id+'-inp');
				let cVal = parseInt(inpEl.value);
				cVal=cVal+1;
				inpEl.value= cVal;
				eachTotal(id, cVal);
			}

			function getDays(period){
				switch(period.toLowerCase()){
					case 'daily': 
						return 1;
						break;
					case 'weekly': 
						return 7;
						break;
					case 'monthly': 
						return 30;
						break;
					case 'quarter yearly': 
						return 90;
						break;
					case 'half yearly': 
						return 180;
						break;
					case 'yearly': 
						return 360;
						break;
					default: 
						return 1;
				}
			}

			function eachTotal(id, cVal){
				curData.addons[id].quantity= cVal;
				curData.addons[id].quantity.q_factor = getQFactor(curData.addons[id], cVal);
				grandTotal();
			}

			function getPFactor(){
				let pFact = 0;
				let cPFactArr = curData.b_cycle_arr.filter(each => { return each.bc == curData.b_cycle; });
				if(cPFactArr && cPFactArr[0]) pFact = cPFactArr[0].factor;
				return pFact;
			}

			function hasInside(min, max, quantity) {
				let hasInside = false;
				if (quantity >= min && max >= quantity) hasInside = true;
				return hasInside;
			}

			function getQFactor(item, qty){
				let qRange = item.qf_range, qFact = 0;
				Object.keys(qRange).map((key,i)=>{
					if(key.indexOf("+")!= -1 && parseInt(key.split("+")[0])< parseInt(qty)) qFact= qRange[key];
					else{
						if(hasInside(parseInt(key.split("-")[0]),parseInt(key.split("-")[1]),parseInt(qty))) qFact= qRange[key];
					}
				});
				return qFact;
			}

			function oncbChange(id){
				let val = document.getElementById(id).checked;
				if(val==true) curData.selected_addons.push(id);
				else{
					let index = curData.selected_addons.indexOf(id);
					if(index!= -1) curData.selected_addons.splice(index, 1);
				}
				grandTotal();
			}

			function onQChange(id){
				let cVal = document.getElementById(id+'-inp').value;
				if(cVal!='' && parseInt(cVal)>=curData.addons[id].min_qty) eachTotal(id, cVal);
				else eachTotal(id, "0");
			}

			function onBlur(id){
				let inpEl = document.getElementById(id+'-inp');
				let cVal = inpEl.value;
				if(cVal!='' && parseInt(cVal)>=curData.addons[id].min_qty){}
				else{
					inpEl.value = curData.addons[id].min_qty;
					eachTotal(id, curData.addons[id].min_qty);
				}
			}

			function grandTotal(){
				let btnEl = document.getElementById('addtocartid');
				if(btnEl){
					if(curData.selected_addons.length==0) btnEl.disabled = true
					else btnEl.disabled = false
				}

				let gTotal = 0;
				Object.keys(curData.addons).map((key, i)=>{
					let p_fact = getPFactor();
					let unit_price = (curData.addons[key].base_price+curData.addons[key].setup_charge-curData.addons[key].initial_discount);
					let billing_factor = getDays(curData.b_cycle)/getDays(curData.base_b_cycle);
					curData.addons[key].total = curData.addons[key].quantity*unit_price*(1-curData.addons[key].q_factor/100)*(1-p_fact/100)*billing_factor;
					let el = document.getElementById(key+'-total');
					el.innerHTML = '$'+(curData.addons[key].total).toFixed(2);
					if(curData.selected_addons.includes(key))
						gTotal = gTotal + curData.addons[key].total;
				});
				curData.gtotal = gTotal;
				let hgtEl = document.getElementById('head-gtotal');
				let fgtEl = document.getElementById('foot-gtotal');
				if(hgtEl && fgtEl){
					hgtEl.innerHTML = '$'+gTotal.toFixed(2);
					fgtEl.innerHTML = '$'+gTotal.toFixed(2);
				}
			}

		//- h1 this is configurationTemplate
		include configurationTemplate.pug
