
mixin eachAddon(addon)
    .ct-each-add
        .ct-left-sec
            .ct-cb-cont.ct-fcc
                .ct-cb-wra
                    .ct-cb.ct-fcc
                        if addon.base_price==0
                            input.ct-cb-input(type="checkbox" id=spToUndscre(addon.comodity) checked=true onclick="return false;")
                        else
                            input.ct-cb-input(type="checkbox", id=spToUndscre(addon.comodity) onchange='oncbChange("'+ spToUndscre(addon.comodity) +'")')
                    label.ct-cb-title(for=spToUndscre(addon.comodity)) #{addon.comodity}
            .ct-qyt-cont.ct-fcc
                if addon.quantity==0
                    .ct-qyt-wra
                else 
                    .ct-qyt-wra
                        .ct-qyt-price-wra.ct-qyt-heading
                            .ct-qyt-price-title= 'Qyt'
                            .ct-qyt-price-title= 'Unit Price'
                        each value, key in addon.qf_range
                            .ct-qyt-price-wra
                                .ct-qyt-price #{key}
                                .ct-qyt-price #{'$'+((addon.base_price+addon.setup_charge-addon.initial_discount)*(1-value/100)).toFixed(2)}
        .ct-right-sec
            .ct-inc-dec-cont.ct-fcc
                if addon.quantity==0
                    .ct-inc-dec-wra
                        //- .ct-input.ct-fcc #{addon.quantity}
                else
                    .ct-inc-dec-wra
                        .ct-inc-btn.ct-dec-border(onclick='onDecrement("'+ spToUndscre(addon.comodity) +'")')= '-'
                        input.ct-input(type='number' id=spToUndscre(addon.comodity)+'-inp' value=addon.quantity oninput='onQChange("'+ spToUndscre(addon.comodity) +'")' onblur='onBlur("'+ spToUndscre(addon.comodity) +'")')
                        .ct-inc-btn.ct-inc-border(onclick='onIncrement("'+ spToUndscre(addon.comodity) +'")')= '+'
            .ct-amount-wra.ct-fcc(id=spToUndscre(addon.comodity)+'-total') #{'$'+addon.total.toFixed(2)}

mixin eachBCycle(bcycle)
    .ct-bcy-wra
        if bcycle.bc==data.b_cycle 
            .ct-h-bcycle(class='ct-selected' onclick='bCycleClick("'+ bcycle.bc +'")' id=bcycle.bc) #{bcycle.bc}
        else
            .ct-h-bcycle( onclick='bCycleClick("'+ bcycle.bc +'")' id=bcycle.bc) #{bcycle.bc}
        if bcycle.factor>0
            .ct-dis #{'Save '+ bcycle.factor+'%'}

.ct-cont
    .container-md
        .ct-header-wra
            .ct-h-left
                .ct-img-wra.ct-fcc
                    img.ct-img(src=data.image alt='') 
                .ct-title #{data.comodity}
            .ct-h-right-wra
                .ct-bcycle-wra
                    each bcycle in data.b_cycle_arr
                        +eachBCycle(bcycle)
                .ct-h-amount-wra
                    .ct-h-gtotal= 'Grand Total'
                    .ct-h-gtotal(id='head-gtotal') #{'$'+data.gtotal.toFixed(2)}
        .ct-body-wra
            each addon in data.addons
                +eachAddon(addon)
        .ct-foot-wra
            .ct-total-cont
                .ct-am-wra
                    .ct-f-gtotal= 'GRAND TOTAL'
                    .ct-f-gtotal(id='foot-gtotal') #{'$'+data.gtotal.toFixed(2)}
                .ct-btn-wra
                    .ct-cbtn.ct-fcc(onclick='onCancel()')= "CANCEL"
                    button.ct-okbtn(id='addtocartid' onclick=`onAddToCart()` disabled=data.selected_addons.length==0? true: false)= 'ADD TO CART'
