html
	head
		title= 'pug'
	body
		//- h1= message
		h1= 'testing'
		form(action='http://localhost:3333' method='POST')
			//- | First Name: 
			//- input(type='text' name='first_name')
			//- br
			//- br
			//- | Last Name: 
			//- input(type='text' name='last_name')
			//- br
			//- br
			label(for='template') Choose a template:
			select#template(name='template')
				option(value='configuration') configuration
				option(value='viewCart') viewCart
				option(value='temp3') temp3
				option(value='temp4') temp4
			br
			br
			input(type='submit' value='Submit')