mixin eachPro(ePro)
    .vct-each-pro(id=ePro.id+'-delId')
        .vct-left-sec
            .vct-cb-cont
                .vct-cb-wra.vct-fcc
                    i.vct-del-ic(class="fa fa-trash" aria-hidden="true" onclick='onDelete("'+ePro.id+'")')
                .vct-img-wra.vct-fcc
                    img.vct-pro-ic(src=ePro.image alt='')
            .vct-pro-cont
                .vct-fcc.left-align
                    .vct-pro-title #{ePro.comodity}
                    if ePro.billing_cycle
                        .vct-pro-bcycle #{'Billing Cycle - '+ ePro.billing_cycle}
                    if(ePro.addons)
                        each pro in ePro.addons
                            .vct-pro-qyt #{pro.addon +' - '+ pro.quantity }
        .vct-right-sec
            .vct-dis-price-wra
                .vct-fcc
                    .vct-base-and-dis-price-wra
                        if ePro.q_factor == 0
                            .vct-base-price-am(id=ePro.id+'-olduPrice')
                        else 
                            .vct-base-price-am(id=ePro.id+'-olduPrice') #{'$'+ePro.unit_price.toFixed(2)}
                        .vct-dis-price(id=ePro.id+'-newuPrice') #{'$'+(ePro.unit_price*(1-ePro.q_factor/100)).toFixed(2)}
                    if ePro.q_factor == 0
                        .vct-q-savings(id=ePro.id+"-qfactor")
                    else
                        .vct-q-savings(id=ePro.id+"-qfactor")='(Saved '+ePro.q_factor+'%)'
            .vct-inc-dec-cont.vct-fcc
                .vct-inc-dec-wra
                    .vct-inc-btn.vct-dec-border(onclick='onDecrement("'+ ePro.id +'")')= '-'
                    input.vct-input(type='number' id=ePro.id+'-inp' value=ePro.quantity oninput='onQChange("'+ ePro.id +'")' onblur='onBlur("'+ ePro.id +'")')
                    .vct-inc-btn.vct-inc-border(onclick='onIncrement("'+ ePro.id +'")')= '+'
            .vct-amount-wra.vct-fcc(id=ePro.id+'-eTotal') #{'$'+(ePro.quantity * ePro.unit_price*(1-ePro.q_factor/100)).toFixed(2)}

.vct-cont
    .container-md
        .vct-header-wra
            .vct-h-left
                .vct-title #{data.title}
            div
                .vct-h-amount-wra
                    .vct-h-gtotal= 'Grand Total'
                    .vct-h-gtotal(id='head-gtotal') #{'$'+data.gtotal.toFixed(2)}
        .vct-body-wra
            each pro in data.products
                +eachPro(pro)
        .vct-note= 'Note: Unit Price is calculated by (Base Price + Setup Charge - Initial Discount)'
        .vct-foot-wra
            div
                .vct-total-cont
                    .vct-foot-cal-wra
                        .vct-foot-cal-key.left-align #{'Total'}
                        .vct-foot-cal-value.right-align(id='foot-total') #{'$'+data.total.toFixed(2)}
                    .vct-foot-cal-wra
                        .vct-foot-cal-key.left-align #{'Vat/Tax('+data.vat+'%)'}
                        .vct-foot-cal-value.right-align(id='foot-vat') #{'+$'+(data.total * data.vat/100).toFixed(2)}
                    .vct-foot-cal-wra
                        .vct-foot-cal-key.left-align #{'Gross Discount('+data.gdis+'%)'}
                        .vct-foot-cal-value.right-align(id='foot-gdis') #{'-$'+(data.total * data.gdis/100).toFixed(2)}
                    .vct-am-wra
                        .vct-f-gtotal.vct-fcc= 'GRAND TOTAL'
                        .vct-f-gtotal.vct-fcc(id='foot-gtotal') #{'$'+data.gtotal.toFixed(2)}
        .vct-btn-wra
            .vct-cbtn.vct-fcc(onclick='onContShop()')= "CONTINUE SHOPPING"
            .vct-okbtn.vct-fcc(onclick=`onCheckout()`)= 'Proceed To Checkout'
