doctype html
html
	head
		title title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='./stylesheets/style.css')
		script(src="https://kit.fontawesome.com/3ef48c52a2.js")
	body
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
		//- script !{getTotal}
		//- script !{getAge}
		//- script !{getDataset}
		script.
			//- console.log(getAge(23));
			//- var dataset= getDataset();
			//- var datas = data;

			var dataObj = !{JSON.stringify(data)};
			var curData = Object.assign({}, dataObj)
			curData.products = {}
			for(let i=0;i<dataObj.products.length;i++)
				curData.products[dataObj.products[i].id] = dataObj.products[i];
			//- function getAm(){
			//- 	return '12324234'
			//- }

			//- function calcuAmount(num1, num2) {
			//- 	if(num1=='') num1='0';
			//- 	if(num2=='') num2='0';
			//- 	let tAm = getTotal(parseInt(num1), parseInt(num2));
			//- 	console.log(tAm)
			//- 	document.getElementById('total-am-id').innerHTML = tAm
			//- }

			//- function onch(type, item){
			//- 	let val = document.getElementById(item).value;
			//- 	if(type=='checkbox') val = document.getElementById(item).checked;
			//- 	dataset[item] = val;
			//- 	console.log(dataset);
			//- }
			//- function spaceToUnderscore(s) { return s.replace(/ /g,'_'); };
			//- function underscoreTospace(s) { return s.replace(/_/g,' '); };


			function onContShop() {
				console.log('onContShop')
			}

			function onCheckout() {
				console.log(curData)
			}

			function onDelete(id) {
				//- query will here
				//it will be, when delete query is successful
				let delEl = document.getElementById(id+'-delId');
				delEl.style.display = "none"
				delete curData.products[id];
				makeCalc();
				if(Object.keys(curData.products).length==0) console.log("left from this page");
			}

			function onQChange(id){
				let cVal = document.getElementById(id+'-inp').value;
				if(cVal!='' && parseInt(cVal)>=curData.products[id].min_qty) eachTotal(id, cVal);
				else eachTotal(id, "0");
			}

			function onBlur(id){
				let inpEl = document.getElementById(id+'-inp');
				let cVal = inpEl.value;
				if(cVal!='' && parseInt(cVal)>=curData.products[id].min_qty){}
				else{
					inpEl.value = curData.products[id].min_qty;
					eachTotal(id, curData.products[id].min_qty);
				}
			}

			function onDecrement(id) {
				let inpEl = document.getElementById(id+'-inp');
				let cVal = parseInt(inpEl.value);
				if(cVal>curData.products[id].min_qty) cVal = cVal-1;
				inpEl.value= cVal;
				eachTotal(id, cVal);
			}

			function onIncrement(id) {
				let inpEl = document.getElementById(id+'-inp');
				let cVal = parseInt(inpEl.value);
				cVal=cVal+1;				
				inpEl.value= cVal;
				eachTotal(id, cVal);
			}

			function hasInside(min, max, quantity) {
				let hasInside = false;
				if (quantity >= min && max >= quantity) hasInside = true;
				return hasInside;
			}

			function getQfactor(id, cVal){
				let qRange = curData.products[id].qf_range, qFact = 0;
				Object.keys(qRange).map((key,i)=>{
					if(key.indexOf("+")!= -1 && parseInt(key.split("+")[0])< parseInt(cVal)) qFact= qRange[key];
					else{
						if(hasInside(parseInt(key.split("-")[0]),parseInt(key.split("-")[1]),parseInt(cVal))) qFact= qRange[key];
					}
				});
				return qFact;
			}

			function eachTotal(id, cVal){
				curData.products[id].quantity = parseInt(cVal);
				curData.products[id].q_factor = getQfactor(id,cVal);
				let oldprEl = document.getElementById(id+'-olduPrice');
				let newprEl = document.getElementById(id+'-newuPrice');
				let qFprEl = document.getElementById(id+'-qfactor');
				newprEl.innerHTML = '$'+(curData.products[id].unit_price*(1-curData.products[id].q_factor/100)).toFixed(2);;
				if(getQfactor(id,cVal)>0){
					oldprEl.innerHTML = '$'+curData.products[id].unit_price.toFixed(2);
					qFprEl.innerHTML = '(Saved '+curData.products[id].q_factor+'%)'
				}else{
					oldprEl.innerHTML = '';
					qFprEl.innerHTML = '';
				}
				//- newprEl.innerHTML = 
				let eTotalEl = document.getElementById(id+'-eTotal');
				let total = cVal * curData.products[id].unit_price*(1-curData.products[id].q_factor/100);
				eTotalEl.innerHTML = '$'+total.toFixed(2);
				makeCalc();
			}

			function makeCalc(){
				let total= 0;
				Object.values(curData.products).map((item, ind)=>{
					total = total + item.quantity*item.unit_price*(1-item.q_factor/100)
				});
				curData.total = total;
				let vat = total*(curData.vat/100);
				let gdis = total*(curData.gdis/100);
				curData.gtotal = total + vat - gdis;
				document.getElementById("foot-gtotal").innerHTML = '$'+curData.gtotal.toFixed(2);
				document.getElementById("head-gtotal").innerHTML = '$'+curData.gtotal.toFixed(2);
				document.getElementById("foot-total").innerHTML = '$'+curData.total.toFixed(2);
				document.getElementById("foot-vat").innerHTML = '+$'+vat.toFixed(2);
				document.getElementById("foot-gdis").innerHTML = '-$'+gdis.toFixed(2);
			}

		//- h1 #{response.template}
		//- div #{response.first_name+ ' '+ response.last_name}
		//- //- div #{getTotal(12,23)}
		//- div(id='total-am-id')= '$0'

		//- | First number: 
		//- input(type='number' name='first_num' id='first_num' oninput='onch("text","first_num")' )
		//- br
		//- br
		//- | Last number: 
		//- input(type='number' name='last_num' id='last_num' oninput='onch("text","last_num")' )
		//- br
		//- br
		//- input(type='button' value='equal' onclick=`calcuAmount(document.getElementById('first_num').value, document.getElementById('last_num').value)`)

		//- //- div #{getAm()}

		//- br
		//- br
		//- | text: 
		//- input(type='text' name='text' id='text' oninput='onch("text","text")' )
		//- br
		//- br
		//- - let cbArr= ['cb1', 'cb2']
		//- each cb in cbArr
		//- 	console.log(cb)
		//- 	| checkbox: 
		//- 	input(type='checkbox' name=cb id=cb onchange='onch("checkbox","'+ cb +'")')
		//- 	br
		//- 	br
		include viewCartTemplate.pug
		